.planets-container {
  background: url(../../assets/img/bg.jpg);
}

.planets-container header {
  background: transparent;
  box-shadow: none;
}

.each-planet {
  display: inline-block;
  position: relative;
}

.each-planet .each-planet-footer {
  display: none;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 8px 0;
}

.each-planet:hover .each-planet-footer {
  display: block;
}
